body {
  user-select: none;
}

.button-container {
  max-width: 1000px;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}

#startgame {
  width: 100px;
  height: 50px;
  border-radius: 15px;
  background-color: #69013b;
  box-shadow: 5px 10px 15px darkgray;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  font-size: 18px;
  color: white;
}
