.tausta-v {
    background-color: white;
    color: #35598C;
}
.form-label {
    display: inline-block;
    width: 10rem;
}
.kentta {
    width: 20rem;
    background-color: white;
    color: #35598C;
    display: inline-block;

}